{% extends 'home/base.html' %}
{% load static %}
{% block main_area %}

<div class="row mx-5">
    <div class="col-4 mt-3 mb-5">
        <div id="title" style="font-size: 50px">
            <div style="margin-bottom: -15px">Check</div>
            <div style="margin-bottom: -15px">Your</div>
            <div>
                Deadline<img
                    src="{% static 'img/home_notice.png' %}"
                    style="width: 40px; height: 40px; margin-left: 5px"
                />
            </div>
        </div>
        <div id="categoryBox" style="width: 250px">
            <div
                id="categoryTitle"
                style="width: 190px; margin: 30px 30px 20px 30px"
            >
                <p style="margin: 20px 0px 0px 0px">YOUR</p>
                <p style="margin: 0px 0px 20px 0px">CATEGORY</p>
            </div>
            <ul id="category" style="margin-bottom:20px">
                {% for category in categories %}
                <li>
                    <a
                        href="{{ category.get_absolute_url }}"
                        style="text-decoration: none; color: #2d3142"
                        >{{ category }} ({{ category.post_set.count }})</a
                    >
                </li>
                {% endfor %}
                <li>
                    <a
                        href="/home/category/no_category/"
                        style="text-decoration: none; color: #2d3142"
                        >기타 ({{ no_categories_post_count }})</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8 mt-3 mb-5">
        <div class="listBox">
            <div class="controll">

                <div id="date" style="font-weight: 700;">{{ category }}</div>

            </div>
            <div class="todoBox">
                {% if post_list.exists %}
                    {% for p in post_list %}
                    <a class="todo" href="{{ p.get_absolute_url }}" style="text-decoration: none; margin-bottom:10px">
                        <img
                            src="{% static 'img/home_incom.png' %}"
                            id="todoIcon"
                        />
                        <div id="todoTitle" style="color: #2D3142;">{{ p.title | truncatechars:9 }}</div>
                        <div id="todoDeadline">( {{ p.deadline }})</div>
                    </a>

                    {% endfor %}
                {% else %}
                    <div class="empty">
                        <div id="des">
                            <p style="margin: 0; text-align: center">ADD</p>
                            <p style="margin: 0; text-align: center">YOUR</p>
                            <p style="margin: 0; text-align: center">DEADLINE!</p>
                        </div>
                        <a id="add" href="/home/add_list/"
                            ><img
                                src="{% static 'img/home_add.png' %}"
                                style="width: 130px"
                        /></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
