<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>popup</title>
</head>

<body style="background-color:#FFF7D3">
    <h>마감 기한이 얼마 남지 않은 <br> 일정이 있어요</h>
    <hr>

<!-- 알릴 내용 추가-->
    {% load static %}

    {% for item in post_content %}
        {% if item.is_deadline_today %}
            {{ item.title | truncatechars:6 }}
            <a style="text-align: right; color: red;">{{ item.deadline|timeuntil }} 남음</a>
            <br>
        {% endif %}
    {% endfor %}


</body>
</html>