{% extends 'home/base.html' %}
{% load static %}
{% block main_area %}

<div class="row my-2" style="font-size:50px;" xmlns="http://www.w3.org/1999/html">
        CHECK LIST DETAILS!
    </div>

    <div>
        <!--할 일 출력-->
        <div style="background-color: #FFF7D3; border-radius: 110px;" class="row my-2 py-5 col px-5 mx-5">
            <div class="row">
                <div class="col-md-1">
                    <div class="row my-1 py-3 col px-1">
                        <form method="post" action="{% url 'home:todo_check2' post.pk %}">
                            {% csrf_token %}
                                <button type="submit" id="checkBtn" style="border: none; background: none; width: 40px; cursor: pointer; margin-left: 10px;">
                                    {% if post.complete %}
                                        <img src="{% static 'img/home_complete.png' %}" alt="Complete" id="todoIconCom"/>
                                    {% else %}
                                        <img src="{% static 'img/home_incom.png' %}" alt="Complete" id="todoIconInCom"/>
                                    {% endif %}
                                </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="background-color: #FFFFF4; border: 3px solid #2D3142; border-radius: 50px; font-size:25px;" class="row py-3 col px-4">
                        <b>{{ post.title }}</b>
                    </div>
                    <div style="font-size:20px; height: 300px; width: 100%;" class="rounded-5 row mt-5 mb-2 py-1 col mx-5 px-1">
                        {{ post.content }}
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-1">
                    <div class="row pt-2 col pe-3">
                        <a href="{% url 'home:postDelete' post.id %}" role="button">
                            <img src="{% static 'img/delete_icon.png' %}" width="90%" height="90%" alt="delete">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="row my-2 col mx-5">
            <!--마감 기한 출력-->
            <div class="col-md-8">
                <div style="background-color: #FFEC9D; border: 8px solid #FFEC9D; border-radius: 50px; font-size:20px;" class="row pt-3 col px-5">
                    <p><b><span style="color: #E71D36">DeadLine:&nbsp;&nbsp;</span>{{ post.deadline.year }}년 {{ post.deadline.month }}월 {{ post.deadline.day }}일&nbsp;&nbsp;{{ post.deadline.hour }}시 {{ post.deadline.minute }}분까지</b>
                        <span style="color:gray; text-align:end;">(24시간 단위)</span></p>
                    <!--  {{ post.deadline.second }}초 -->
                </div>
            </div>

            <div class="col-md-1"></div>


            <!--버튼-->
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <a href="../edit_list_{{ post.pk }}/" style="text-decoration: none;">
                            <div style="background-color: #2D3142; border:5px solid #2D3142; border-radius: 50px;" class="col ms-3">
                                <input style="background-color: #2D3142; text-align:center; font-size: 30px; color: #FFFFFF; border-radius: 50px;" type="button" id="edit" class="form-control border-0" value="EDIT">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="../" style="text-decoration: none;">
                            <div style="background-color: #FFFFF4; border: 5px solid #2D3142; border-radius: 50px;" class="col ms-3">
                                <input style="background-color: #FFFFF4; text-align:center; font-size: 30px; color: #2D3142; border-radius: 50px;" type="button" id="exit" class="form-control border-0" value="EXIT">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}