{% extends 'home/base.html' %}
{% load static %}
{% block main_area %}
<div class="row mx-5">
    <div class="col-4 mt-3 mb-5">
        <div id="title" style="font-size: 50px">
            <div style="margin-bottom: -15px">Check</div>
            <div style="margin-bottom: -15px">Your</div>
            <div>
                Deadline<img
                    src="{% static 'img/home_notice.png' %}"
                    style="width: 40px; height: 40px; margin-left: 5px"
            />
            </div>
        </div>
        <div id="categoryBox" style="width: 250px">
            <div
                    id="categoryTitle"
                    style="width: 190px; margin: 30px 30px 20px 30px"
            >
                <p style="margin: 20px 0px 0px 0px">YOUR</p>
                <p style="margin: 0px 0px 20px 0px">CATEGORY</p>
            </div>
            <ul id="category" style="margin-bottom:20px">
                {% for category in categories %}
                <li>
                    <a href="{{ category.get_absolute_url }}" style="text-decoration: none; color: #2d3142">{{ category }} ({{ category.post_set.count }})</a>
                </li>
                {% endfor %}
                <li>
                    <a href="/home/category/no_category/" style="text-decoration: none; color: #2d3142">미분류 ({{ no_categories_post_count }})</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-8 mt-3 mb-5">
        <div class="listBox" style="position: relative;">
            <form class="controll" method="get" action="{% url 'home:change_date_next' %}">
                {% csrf_token %}
                <button id="before" name="prev" type="submit">
                    <img src="{% static 'img/home_before.png' %}" style="width: 40px"/>
                </button>
                <div id="date" style="font-weight: 700;">{{ today }}</div>
                <button id="after" name="next" type="submit">
                    <img src="{% static 'img/home_after.png' %}" style="width: 40px"/>
                </button>
            </form>
            <div class="todoBox">
                 {% if post_list_today.exists %}
                    {% for p in post_list_today %}
                    <form class="todo" style="margin-bottom:10px" method="post" action="{% url 'home:todo_check' pk=p.pk %}">
                        {% csrf_token %}
                        <button type="submit" id="checkBtn" style="border: none; background: none; width: 40px; cursor: pointer; margin-right: 20px;">
                            {% if p.complete %}
                            <img src="{% static 'img/home_complete.png' %}" alt="Complete" id="todoIconCom"/>
                            {% else %}
                            <img src="{% static 'img/home_incom.png' %}" alt="InComplete" id="todoIconInCom"/>
                            {% endif %}
                        </button>
                        <a id="todoTitle" href="{{ p.get_absolute_url }}" style="text-decoration: none; color: #2D3142;">{{ p.title | truncatechars:8 }}</a>
                        <div id="todoDeadline">
                            {% if p.complete == False %}
                                {% if p.deadline|timeuntil|first == '0' %}
                                    (over {{ p.deadline|timesince }})
                                {% else %}
                                    ({{ p.deadline|timeuntil }})
                                {% endif %}
                                {% else %}
                                    <span style="color: #17DC1F;">(Done)</span>
                            {% endif %}
                        </div>
                    </form>
                    {% endfor %}
                {% else %}
                <div class="empty">
                    <div id="des">
                        <p style="margin: 0; text-align: center">ADD</p>
                        <p style="margin: 0; text-align: center">YOUR</p>
                        <p style="margin: 0; text-align: center">DEADLINE!</p>
                    </div>
                    <a id="add" href="/home/add_list/"
                    ><img
                            src="{% static 'img/home_add.png' %}"
                            style="width: 130px"
                    /></a>
                </div>
                {% endif %}
            </div>
            <a id="small_add" href="/home/add_list/" style="position: absolute; right: 60px; bottom: 30px; width: 40px;">
                    <img src="{% static 'img/home_add.png' %}" style="width: 40px"/>
            </a>
        </div>
    </div>
</div>







    <!-- 팝업창 띄우기-->
    <script language="javascript">

             window.open("/home/popup","팝업 이름","width=300,height=300, left=300, top=300");

    </script>



{% endblock %}
