{% extends 'alarm/base.html' %}
{% load static %}
{% block main_area %}


    <div class="container my-3">
        <div class="row">
            <!-- 이클래스에 추가된 과제 -->
            <div class="col-6">
                <h1>UPDATED</h1><br>
                {% for p in post_list %}
                    {% if p.is_created_today %}
                        <div class="container">
                            <img src="{% static 'images/Rectangle.png' %}" style="width:100%;">
                            <div class="title">{{ p.title|truncatechars:25 }}</div>
                            <div class="detail"><a href="{{ p.get_absolute_url }}">
                              <img src="{% static 'images/Vector-detail.png' %}" style="width:70%;"></a></div>
                            <div class="remove">
                                <a href="{{p.pk}}/remove"><img src="{% static 'images/octicon_x.png' %}" style="width:70%;"></a>
                            </div>

                        </div>
                        <br>
                    {% else %}
                    {% endif %}
                {% endfor %}


            </div>

            <!-- 마감기한이 임박한 일정 -->
            <div class="col-6">
                <h1>CHECK THIS</h1><br>
                {% for p in post_list %}
                    {% if p.is_deadline_today %}
                        <div class="container">
                            <img src="{% static 'images/Rectangle.png' %}" style="width:100%;">
                            <div class="title">{{ p.title|truncatechars:13 }}</div>
                            <div class="detail"><a href="{{ p.get_absolute_url }}">
                              <img src="{% static 'images/Vector-detail.png' %}" style="width:70%;"></a></div>
                            <div class="deadline">
                              {{ p.deadline|timeuntil }} 남음</div>
                            <div class="remove">
                                <a href="{{p.pk}}/remove"><img src="{% static 'images/octicon_x.png' %}" style="width:70%;"></a>
                            </div>
                        </div>
                        <br>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% for p in post_list %}
        {% empty %}
            <h>모든 알림을<br>확인했습니다</h>
    {% endfor %}



    <!-- 팝업창 띄우기-->
    <script language="javascript">

             window.open("/alarm/popup","팝업 이름","width=300,height=300, left=300, top=300");

    </script>

{% endblock %}