<style>
        .container {
          position: relative;
          text-align: center;
        }

        .title {
          position: absolute;
          top: 30%;
          left: 8%;
        }

        .deadline {
          position: absolute;
          top: 50%;
          right: 11%;
          transform: translate(-50%, -50%);
          color:red;
        }

        .detail {
          position: absolute;
          top: 50%;
          right: 3%;
          transform: translate(-50%, -50%);
        }

        .remove {
          position: absolute;
          top: 50%;
          right: 0%;
          transform: translate(-50%, -50%);
        }
</style>