<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>popup</title>
</head>

<body style="background-color:#FFF7D3">
    <h>마감 기한이 얼마 남지 않은 <br> 일정이 있어요</h>
    <hr>

    {% load static %}
    <div class="detail"><a href="/alarm/">
        <img src="{% static 'images/Vector-popup.png' %}" style="width:30%;"></a></div>

<!-- 알릴 내용 추가

    {% for p in post_list %}
        {% if p.category %}
        {% else %}
        <div class="title">{{ p.title | truncatechars:15 }}</div>
        <div class="detail"><a href="/alarm/">
            <img src="{% static 'images/Vector-popup.png' %}" style="width:30%;"></a></div>
        {% endif %}
    {% endfor %} -->
</body>
</html>