{% extends 'home/base.html' %}
{% load static %}
{% block main_area %}



        <!-- 페이지 내용 작성-->
        <div>
            <!--LOGO IMG-->
            <div class="col">
                <div class="row">
                    <div class="col-md-2"><span> </span></div>
                    <div class="col-md-8">
                        <div class="row my-5 py-5 col px-5 mx-5">
                            <div style="background-color: #2D3142;" class="rounded-5 row my-2 py-5 col px-5 mx-5">
                                <img src="{% static 'img/start_logo.png' %}" class="img-fluid" alt="toDD LOGO">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--WHAT SERVICE IS toDD?-->
            <div class="col">
                <div style="background-color: #FFF7D3; border-radius: 70px; text-align: center;" class="row my-4 py-5 col px-5 mx-5">
                    <div class="col-md-2"><span> </span></div>
                    <div class="col-md-8">
                        <div style="background-color: #FFEC9D; font-size: 35px;" class="rounded-5 row my-5 py-5 col mx-5">
                            <span>
                                <b>WHAT SERVICE IS toDD?</b>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2"><span> </span></div>

                    <div class="row">
                        <div class="col-md-3"><span> </span></div>
                        <div class="col-md-6">
                            <div class="row my-5 col mx-5">
                                <img src="{% static 'img/muhandojenZZAL.gif' %}" class="img-fluid" alt="이제는 더이상 물러날 곳이 없다">
                            </div>
                        </div>
                    </div>

                    <div style="font-size:25px;" class="row mb-5 pb-5">
                        <span>이제는! 더이상! 물러날 곳이 없! 다!</span>
                        <br>
                        <span>공부 + 과제 + 대외활동 + 알바 ...</span>
                        <br>
                        <span>한없이 바쁜 덕우들을 위해,</span>
                        <br>
                        <span><b>toDD</b>가</span>
                        <br>
                        <span>확실하고 편리한</span>
                        <br>
                        <span>과제 제출을 도와드려요.</span>
                        <br><br>
                        <span>이클래스 기반</span>
                        <br>
                        <span>투두 리스트 서비스 <b>toDD</b>로</span>
                        <br>
                        <span>슬기로운 덕성 생활 시작해요!</span>
                        <br>
                    </div>



                    <!--WHO MADE THIS?-->
                    <div class="col-md-2"><span> </span></div>
                    <div class="col-md-8">
                        <div style="background-color: #FFEC9D; font-size: 35px;" class="rounded-5 row my-5 py-5 col mx-5">
                            <span style="text-align: center;">
                                <b>WHO MADE THIS?</b>
                            </span>
                        </div>
                        <div class="row my-5 py-3 col mx-5">
                            <span style="font-size: 50px; color: #FF0000;"><b>ITZYMA</b></span>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="row pt-1 pb-5 mb-5">
                                <div class="col-md-1"><span> </span></div>
                                <div style="font-size: 30px;" class="col-md-2">
                                    <div>
                                        <img src="{% static 'img/goboyeong.png' %}" class="img-fluid" alt="고보영">
                                        <br>
                                        <span><b>고보영</b></span>
                                    </div>
                                </div>
                                <div style="font-size: 30px;" class="col-md-2">
                                    <div>
                                        <img src="{% static 'img/kimsihyeon.png' %}" class="img-fluid" alt="김시현">
                                        <br>
                                        <span><b>김시현</b></span>
                                    </div>
                                </div>
                                <div style="font-size: 30px;" class="col-md-2">
                                    <div>
                                        <img src="{% static 'img/jangseoen.png' %}" class="img-fluid" alt="장서은">
                                        <br>
                                        <span><b>장서은</b></span>
                                    </div>
                                </div>
                                <div style="font-size: 30px;" class="col-md-2">
                                    <div>
                                        <img src="{% static 'img/yunyunji.png' %}" class="img-fluid" alt="윤윤지">
                                        <br>
                                        <span><b>윤윤지</b></span>
                                    </div>
                                </div>
                                <div style="font-size: 30px;" class="col-md-2">
                                    <div>
                                        <img src="{% static 'img/jeonghaein.png' %}" class="img-fluid" alt="정해인">
                                        <br>
                                        <span><b>정해인</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}