@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* static/css/custom.css */


body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #fffff4;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px;
            border: 5px solid #2d3142;
            border-radius: 40px;
            background-color: #2d3142; /* 네모 안쪽을 채우는 배경색 설정 */
            width: 1250px;
            height: 650px;
        }

        .logo {
            max-width: 50%;
            max-height: 50%;
            width:360px;
            height: auto;
            margin-bottom: 40px;
            margin-top: 20px;
        }

        .login-container {
            width:500px;
            height:250px;
            text-align: center;
            box-sizing: border-box;
            margin-bottom:20px;
        }

        .login-container label {
            display: block;
            margin-bottom: 10px;
            text-align: center;
        }

        .login-container input {
            width: 90%;
            padding: 15px;
            border-radius: 100px;
            margin-bottom: 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }

        .login-container input:first-child {
        background: #FFFFF4;
        margin-bottom: 30px;
        }


        .login-container input:nth-child(2) {
        background: #FFF7D3;
        margin-bottom: 30px;
        }

        #studentId {
            text-align: center;
            font-size:20px;
        }
        #password {
            text-align: center;
            font-size:20px;
            color: #778080;  /*이거 색 안 바뀜 다시 수정 + 로그인 글씨도 어두운 걸로 수정해야함*/
        }
        #button {
            text-align: center;
            font-size:20px;
            color: #5a5b5d;  /*이거 색 안 바뀜 다시 수정 */
        }
        .login-container button {
            width: 90%;
            padding: 15px;
            background-color: #ffec9d;
            border-radius: 100px;
            margin-bottom:25px;
            color: #2d3142;
            cursor: pointer;
        }
        .white-text {
            color:white;
            font-size:20px;
        }
        .have {
            color: white;
            font-size:20px;
        }

        .make {
            color: #5dbbf8;
            font-size:20px;
        }

